<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section id="stats-subtitle">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Atividades Programadas</h4>
            <p>Selecione uma das atividades</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-md-12">
            <div class="card overflow-hidden">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-pin info font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Curso de Corte e Costura</h4>
                      <span>Duas vezes por semana - Presencial </span>
                    </div>
                    <div class="align-self-center">
                      <h1>20 inscritos</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-target warning font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Treinamento em Mecânica</h4>
                      <span>4 vezes por semana - Presencial </span>
                    </div>
                    <div class="align-self-center">
                      <h1>30 inscritos</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-md-12">
            <div class="card overflow-hidden">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-camcorder info font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Curso de Filmagem</h4>
                      <span>Tres vezes por semana - Presencial </span>
                    </div>
                    <div class="align-self-center">
                      <h1>20 inscritos</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-energy warning font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Treinamento em Elétrica</h4>
                      <span>4 vezes por semana - Presencial </span>
                    </div>
                    <div class="align-self-center">
                      <h1>30 inscritos</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </section>
    </div>
  </div>
</div>
