<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section id="stats-subtitle">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Atividades Programadas</h4>
            <p>Selecione uma das atividades</p>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let event of events" class="col-xl-6 col-md-12">
            <div class="card overflow-hidden">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="{{event.icon}} info font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>{{event.title}}</h4>
                      <span>{{event.descricao}} </span>
                    </div>
                    <div class="align-self-center" >
                      <button type="button" class="btn btn-outline-info _light" (click)="inscrever($event.target.value)"> <h4 >Inscreva-se</h4> </button>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
