<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section id="basic-examples">
        <div class="row">
          <div class="col-12">
            <m-card [options]="options" (reloadFunction)="reloadEvents()">
              <ng-container mCardHeaderTitle> Eventos </ng-container>
              <ng-container mCardBody>
                <ng-template #modalContent let-close="close">
                  <div class="modal-header">
                    <h5 class="modal-title">Detalhes desse Evento</h5>
                    <button type="button" class="close" (click)="close()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div>
                      Inicio:
                      <pre>{{ modalData?.event.start | date: 'dd/MM/YYYY' }}</pre>
                    </div>
                    <div>
                      Fim:
                      <pre>{{ modalData?.event.end | date: 'dd/MM/YYYY'}}</pre>
                    </div>
                    <div>
                      Título:
                      <pre>{{ modalData?.event.title }}</pre>
                    </div>
                    <div>
                      Professor:
                      <pre>{{ modalData?.event.professor }}</pre>
                    </div>
                    <div>
                      Descrição:
                      <pre>{{ modalData?.event.descricao }}</pre>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      (click)="close()"
                    >
                      OK
                    </button>
                  </div>
                </ng-template>

                <div class="row">
                  <div class="col-md-4 bottom_space">
                    <div class="btn-group">
                      <div
                        class="btn btn-primary"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="activeDayIsOpen = false"
                      >
                        Anterior
                      </div>
                      <div
                        class="btn btn-outline-secondary"
                        mwlCalendarToday
                        [(viewDate)]="viewDate"
                      >
                        Hoje
                      </div>
                      <div
                        class="btn btn-primary"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="activeDayIsOpen = false"
                      >
                        Próximo
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 text-center bottom_space">
                    <h3>
                      {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
                    </h3>
                  </div>
                  <div class="col-md-4 text-right bottom_space">
                    <div class="btn-group">
                      <div
                        class="btn btn-primary"
                        (click)="view = CalendarView.Month"
                        [class.active]="view === CalendarView.Month"
                      >
                        Mês
                      </div>
                      <div
                        class="btn btn-primary"
                        (click)="view = CalendarView.Week"
                        [class.active]="view === CalendarView.Week"
                      >
                        Semana
                      </div>
                      <div
                        class="btn btn-primary"
                        (click)="view = CalendarView.Day"
                        [class.active]="view === CalendarView.Day"
                      >
                        Dia
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div [ngSwitch]="view">
                  <mwl-calendar-month-view
                    *ngSwitchCase="CalendarView.Month"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)"
                  >
                  </mwl-calendar-month-view>
                  <mwl-calendar-week-view
                    *ngSwitchCase="CalendarView.Week"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)"
                  >
                  </mwl-calendar-week-view>
                  <mwl-calendar-day-view
                    *ngSwitchCase="CalendarView.Day"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)"
                  >
                  </mwl-calendar-day-view>
                </div>


                <br /><br /><br />
                <ng-template #modalContent let-close="close">
                  <div class="modal-header">
                    <h5 class="modal-title">Detalhes do Evento</h5>
                    <button type="button" class="close" (click)="close()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div>
                      Action:
                      <pre>{{ modalData?.action }}</pre>
                    </div>
                    <div>
                      Event:
                      <pre>{{ modalData?.event | json }}</pre>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      (click)="close()"
                    >
                      OK
                    </button>
                  </div>
                </ng-template>
                
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
