:host ::ng-deep .h3 {
    margin: 0 0 10px;
  }

 :host ::ng-deep .pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  :host ::ng-deep.card-header .heading-elements, .card-header .heading-elements-toggle {
    background-color: inherit;
    position: absolute;
    top: 60px;
    right: 77px;
}
:host ::ng-deep .cal-month-view .cal-open-day-events {
   padding: 0px !important;
  color: white;
  background-color: #555;
  -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
:host ::ng-deep .card-header .heading-elements {
  background-color: inherit;
  position: absolute;
  top: 19px;
  right: 19px;
}

.fc-toolbar .fc-left {
  float: left;
}

.fc-toolbar .fc-right {
  float: right;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 3em;
}

:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}

@media screen and (max-width: 767px) {
  .bottom_space {
      padding-bottom: 1rem !important;
      text-align: unset !important;
      padding-left: 0px !important;
  }
}

::ng-deep ngb-modal-backdrop {
  z-index: 1050 !important;
}
